---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Page Title">
  <section class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold">Page Title</h1>
  </section>
</Layout>
