---
import Layout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero";
import WhyChooseUs from "../components/WhyChooseUs";
import CTASection from "../components/CTASection";
import Footer from "../components/footer";
import ScrollGauge from "../components/ScrollGauge";
---

<Layout title="GC International">
  <main id="page-content" class="main-content">
    <Hero client:only="react" />
    <WhyChooseUs />
    <CTASection />
    <ScrollGauge client:load />
  </main>
</Layout>
