---
import Layout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero";
import WhyChooseUs from "../components/WhyChooseUs";
import CTASection from "../components/CTASection";
import Footer from "../components/footer";
import ScrollGauge from "../components/ScrollGauge";
import ValveViewer from "../components/ValveViewer";
---

<Layout title="GC International">

	<section id="valve" class="relative h-screen w-full overflow-hidden bg-[#f5f5f5] z-30">
		<!-- Subtle top light effect -->
		<div class="absolute inset-0 pointer-events-none z-0 bg-[radial-gradient(ellipse_at_top,_#ffffff_0%,_#f5f5f5_70%)]" />
	  
		<!-- Valve 3D model -->
		<div class="relative z-10">
		  <ValveViewer client:only="react" />
		</div>
	  </section>
	  

  <!-- Scrollable Snap Sections -->
  <div id="scroll-container" class=" snap-y snap-mandatory scroll-smooth z-20 relative">
    
    <section class="snap-start snap-always h-screen flex items-center justify-center opacity-100 transition-opacity duration-700 fade-section">
      <Hero client:load />
    </section>

    <section class="snap-start h-screen flex items-center justify-center opacity-100 transition-opacity duration-700 fade-section">
      <WhyChooseUs client:load />
    </section>

    <section class="snap-start h-screen flex items-center justify-center opacity-100 transition-opacity duration-700 fade-section">
      <CTASection client:load />
    </section>

    <ScrollGauge client:load />
  </div>

</Layout>
